button{
    margin:20px 30px;
}
.container-badge{
    justify-content: space-between;
    display:flex;
}
.spinner{
    margin:40px 30px;
}

.navbar{
    justify-content: space-between;
}
span{
    margin:15px;
}
mat-sidenav-container{
    height:100%;
}
mat-sidenav, mat-sidenav-content{
 margin:3rem;
 width:30%;
 /* display: inline; */
}